* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.40625rem;
}

h5 {
  font-size: 1.171875rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  vertical-align: middle;
  border-style: none;
}

audio {
  width: 100%;
  height: 30px;
  opacity: 0.7;
}

.d-flex {
  display: flex !important;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: .5rem;
  flex-direction: column;
  .logo {
    background-image: url(../images/logo.svg);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.top-panel {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.score {
  line-height: 55px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.header ul li {
  flex: auto;
  text-align: center;
}

.page-item {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  background-color: #00bc8c;
}

.page-item.active {
  background-color: #00efb2;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
}

.text-center {
  text-align: center !important;
}

.lead {
  font-size: 1.171875rem;
  font-weight: 300;
}

.btn {
  width: 100%;
  margin: 25px 15px;
  background-color: #303030;
  border: 1px solid #444;
  transition: .3s;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-game-over {
  padding: 15px;
  margin: 25px 0;
}

.btn-next {
  background-color: #00bc8c;
  cursor: pointer;
}

.random-bird {
  display: flex;
  padding: 1rem;
  background-color: #303030;
  margin-bottom: 25px;
  border-radius: 0.3rem;
  border: 1px solid #444;
  div {
    width: 100%;
    margin: 0;
  }
}

.random-bird .bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;

  margin: 0;
}

.random-bird .list-group {
  margin-left: 40px;
  margin-top: 20px;
}

.random-bird .list-group li {
  padding: 5px;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #303030;
  border: 1px solid #444;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.random-bird .list-group-item {
  padding: .25rem;
}

.bird-info-audio-player {
  margin: 10px 40px 8px 0;
  width: 100%;
  min-width: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.item-list {
  width: 100%;
}

.bird-item:hover, .li-btn {
  background-color: #444;
}

.li-btn {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  transition: .1s;
}

.default {
  background-color: #444;
}

.error .li-btn{
  background-color: #d62c1a;
}

.success .li-btn{
  background-color: #00bc8c;
}

.bird-details {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #303030;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.bird-item {
  width: 100%;
  display: flex;
  align-items: baseline;
  color: white;
  padding: 0.75rem 1.25rem;
  background-color: #303030;
  border: 1px solid #444;
  cursor: pointer;
}

.instruction span {
  display: block;
}

.card-body {
  display: flex;
  padding: 0;
  flex-direction: row;
  min-height: 173px;
  flex: 1 1 auto;
}

.bird-details .bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 2rem;
}

.card-body .list-group {
  width: calc(100% - 240px);
}

.card-body .list-group li {
  padding: 0.75rem 1.25rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 570px) {
  .random-bird {
    flex-direction: column;
    .audio {
      width: 100%;
      margin: 0;
    }
  }

  .random-bird .list-group {
    margin-left: 0;
  }

  .random-bird .bird-image {
    margin: 0 auto 25px;
  }

  .random-bird .bird-image {
    margin: 0 auto 25px;
  }
}

@media (max-width: 767px) {
  h1.display-3 {
    font-size: 3rem;
  }

  .bird-details {
    display: block;
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .card-body .list-group {
    width: 100%;
  }

  .card-body {
    flex-direction: column;
  }
}