body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h5, .h5 {
  font-size: 1.171875rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: .5rem;
  flex-direction: column;
  .logo {
    background-image: url(../images/logo.svg);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.top-panel {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.score {
  line-height: 55px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.header ul.pagination {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.header ul li {
  flex: auto;
  text-align: center;
}

a {
  color: #00bc8c;
  text-decoration: none;
  background-color: transparent;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #00bc8c;
  border: 0 solid transparent;
}

.header ul li a {
  cursor: auto;
  border-radius: 0!important;
}

.page-item .page-link {
  background-color: #008966;
  border-color: #007c5d;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #00efb2;
  border-color: transparent;
}

.page-item.active .page-link {
  background-color: #00bc8c;
  border-color: #007c5d;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
