*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.171875rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #00bc8c;
  text-decoration: none;
  background-color: transparent;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  vertical-align: middle;
  border-style: none;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: .5rem;
  flex-direction: column;
  .logo {
    background-image: url(../images/logo.svg);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.top-panel {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.score {
  line-height: 55px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.header ul.pagination {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.header ul li {
  flex: auto;
  text-align: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #00bc8c;
  border: 0 solid transparent;
}

.header ul li a {
  cursor: auto;
  border-radius: 0!important;
}

.page-item .page-link {
  background-color: #008966;
  border-color: #007c5d;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #00efb2;
  border-color: transparent;
}

.page-item.active .page-link {
  background-color: #00bc8c;
  border-color: #007c5d;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}

.game-over {
  display: block;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-center {
  text-align: center !important;
}

.lead {
  font-size: 1.171875rem;
  font-weight: 300;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.btn {
  width: 100%;
  margin: 25px 15px;
  background-color: #303030;
  border: 1px solid #444;
  color: #fff!important;
  cursor: auto;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn-game-over {
  width: 100%;
  padding: 15px;
  margin: 25px 0;
}

.btn-next {
  background-color: #00bc8c;
  cursor: pointer;
}

.btn, .btn:focus {
  box-shadow: none;
}

.random-bird {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
  div {
    width: calc(100% - 240px);
    margin: 0;
  }
}

.rounded {
  border-radius: 0.25rem !important;
}

.random-bird .bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0;
}

.random-bird .list-group {
  margin-left: 40px;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-flush .list-group-item:first-child {
  border-top-width: 0;
}

.random-bird .list-group-item {
  padding: .25rem;
}

.list-group-flush .list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #303030;
  border: 1px solid #444;
}

.audio-player {
  margin: 10px 40px 8px 0;
  width: 100%;
  min-width: 100px;
}

.timebar {
  flex: 1 1;
  margin-top: 12px;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .jumbotron {
    padding: 4rem 2rem;
  }
}

@media (max-width: 570px) {
  .random-bird {
    flex-direction: column;
    div {
      width: 100%;
      margin: 0;
    }
  }

  .random-bird .list-group {
    margin-left: 0;
  }

  .random-bird .bird-image {
    margin: 0 auto 25px;
  }

  h3 {
    text-align: center;
  }

  .random-bird .bird-image {
    margin: 0 auto 25px;
}
}

@media (max-width: 767px) {
  h1.display-3 {
    font-size: 3rem;
  }
}


